Ingestion/pipeline/P_AUTO_TRIGGER_REQUESTS_ADF.json
{
	"name": "P_AUTO_TRIGGER_REQUESTS_ADF",
	"properties": {
		"description": "This pipeline will do automated trigger requests for ADF pipelines.",
		"activities": [
			{
				"name": "ADF_LOOKUP_TRIGGER_DETAILS",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@concat(pipeline().globalParameters.GL_TECH_EH_REPO_PATH, 'datta_tech_eh/Automated_Trigger_Workday_Solution_ADF')",
						"type": "Expression"
					},
					"baseParameters": {
						"Databricks_Workspace_URL": {
							"value": "@pipeline().globalParameters.GL_DATABRICKS_URL",
							"type": "Expression"
						},
						"env": {
							"value": "@pipeline().globalParameters.GL_ENV",
							"type": "Expression"
						},
						"unique_repo_branch_id": {
							"value": "@pipeline().globalParameters.GL_UNIQUE_REPO_BRANCH_ID",
							"type": "Expression"
						},
						"unique_repo_branch_id_schema": {
							"value": "@pipeline().globalParameters.GL_UNIQUE_REPO_BRANCH_ID",
							"type": "Expression"
						},
						"Tech_EH_Repo_Path": {
							"value": "@pipeline().globalParameters.GL_TECH_EH_REPO_PATH",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_DATABRICKS",
					"type": "LinkedServiceReference",
					"parameters": {
						"Databricks_Workspace_URL": {
							"value": "@pipeline().globalParameters.GL_DATABRICKS_URL",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ADF_FOREACH_TRIGGER",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ADF_LOOKUP_TRIGGER_DETAILS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ADF_LOOKUP_TRIGGER_DETAILS').output.runOutput",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@empty(activity('ADF_LOOKUP_TRIGGER_DETAILS').output.runOutput)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "ADF_FORAECH_WAIT",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": {
												"value": "@item().WaitTime",
												"type": "Expression"
											}
										}
									},
									{
										"name": "ADF_FORAECH_WEB_TRIGGER",
										"description": "This activity will trigger the pipelines in this IngestionADF once the wait is over",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "ADF_FORAECH_WAIT",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 3,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"method": "POST",
											"headers": {
												"Content-Type": "application/json"
											},
											"url": {
												"value": "@concat(pipeline().globalParameters.GL_ADF_TRIGGER_API,'pipelines/',item().PipelineName,'/createRun?api-version=2018-06-01')",
												"type": "Expression"
											},
											"body": {
												"value": "@concat('{','}')",
												"type": "Expression"
											},
											"authentication": {
												"type": "ServicePrincipal",
												"userTenant": {
													"value": "@pipeline().globalParameters.GL_AZ_AS_SPN_DATTA_WDS_TENANT_ID",
													"type": "Expression"
												},
												"username": {
													"value": "@pipeline().globalParameters.GL_AZ_AS_SPN_DATTA_WDS_CLIENT_ID",
													"type": "Expression"
												},
												"resource": "https://management.azure.com/",
												"password": {
													"type": "AzureKeyVaultSecret",
													"store": {
														"referenceName": "LS_KEYVAULT_DATTA",
														"type": "LinkedServiceReference"
													},
													"secretName": "AZ-AS-SPN-DATTA-WDS-CLIENT-SECRET"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "AUTO_WORKDAY_TRIGGERS"
		},
		"annotations": [],
		"lastPublishTime": "2025-02-26T12:05:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}