Ingestion/pipeline/P_DATAEXTRACTION_SAP_BW_DELTA_TO_ADLS_MCPA.json
{
	"name": "P_DATAEXTRACTION_SAP_BW_DELTA_TO_ADLS_MCPA",
	"properties": {
		"activities": [
			{
				"name": "Lookup Data from Databricks DeltaLake Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.23:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": {
							"value": "@concat('select * from `',pipeline().globalParameters.GL_CONFIG_CATALOG_NAME,'`.`',pipeline().globalParameters.GL_CONFIG_SCHEMA_NAME,'`.`',pipeline().globalParameters.GL_CONFIG_TABLE_NAME,'` where project_name in (\"MCPA_DCPA\",\"Site_Pnl\") and process_name=\"EXTRACT_SAP_BW\" and table_classification = \"T\" and load_type = \"DELTA_LOAD\" and frequency = \"M\" ')",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "DS_ADB_DELTALAKE",
						"type": "DatasetReference",
						"parameters": {
							"Databricks_Workspace_URL": {
								"value": "@pipeline().globalParameters.GL_DATABRICKS_URL",
								"type": "Expression"
							},
							"Cluster_id": {
								"value": "@pipeline().globalParameters.GL_CLUSTER_ID",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1_copy1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Data from Databricks DeltaLake Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Data from Databricks DeltaLake Table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "FM_Lookup",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapOpenHubSource",
									"excludeLastRequest": false,
									"customRfcReadTableFunctionModule": "ZBW_RFC_OH_CHK_DATA_EXIST"
								},
								"dataset": {
									"referenceName": "DS_GSAP_BW",
									"type": "DatasetReference",
									"parameters": {
										"BW_Table_Name": "@item().table_name"
									}
								}
							}
						},
						{
							"name": "If Condition to check Firstrow",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "FM_Lookup",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(activity('FM_Lookup').output, 'firstRow')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data from SAP to ADLS_copy1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.23:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SapOpenHubSource",
												"excludeLastRequest": false
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_GSAP_BW",
												"type": "DatasetReference",
												"parameters": {
													"BW_Table_Name": {
														"value": "@item().table_name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ADLS_LANDING",
												"type": "DatasetReference",
												"parameters": {
													"File_Name": {
														"value": "@concat(item().TABLE_NAME,'_', formatDateTime(convertTimeZone(utcnow(),'UTC', 'India standard Time'),'yyyyMMdd_HHmmss'),'_','001','.parquet')",
														"type": "Expression"
													},
													"Folder_Name": {
														"value": "@item().target_path",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "ADB_COPA_EUH_MCPA_WF_WEB_TRIGGER",
				"description": "This activity will trigger the pipelines in this IngestionADB once the wait is over",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@concat(pipeline().globalParameters.GL_DATABRICKS_URL,'/api/2.1/jobs/run-now')",
						"type": "Expression"
					},
					"body": {
						"value": "@concat('{\"job_id\":',pipeline().globalParameters.GL_COPA_JOB_ID_EUH_M,'}')",
						"type": "Expression"
					},
					"authentication": {
						"type": "ServicePrincipal",
						"userTenant": {
							"value": "@pipeline().globalParameters.GL_AZ_AS_SPN_DATTA_WDS_TENANT_ID",
							"type": "Expression"
						},
						"username": {
							"value": "@pipeline().globalParameters.GL_AZ_AS_SPN_DATTA_WDS_CLIENT_ID",
							"type": "Expression"
						},
						"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "LS_KEYVAULT_DATTA",
								"type": "LinkedServiceReference"
							},
							"secretName": "AZ-AS-SPN-DATTA-WDS-CLIENT-SECRET"
						}
					}
				}
			}
		],
		"folder": {
			"name": "GSAP BW"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-30T06:10:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}