pipeline/P_DATAEXTRACTION_SAP_BW_TO_ADLS.json
{
	"name": "P_DATAEXTRACTION_SAP_BW_TO_ADLS",
	"properties": {
		"activities": [
			{
				"name": "Lookup Data from Databricks DeltaLake Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.23:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": {
							"value": "@concat('select * from `',pipeline().globalParameters.GL_CONFIG_CATALOG_NAME,'`.`raw-ds-gsap`.load_process_config','   where table_classification in (\"M\",\"H\") and load_type = \"DELTA_LOAD\" and process_name=\"EXTRACT_SAP_BW\" ')",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "DS_ADB_DELTALAKE",
						"type": "DatasetReference",
						"parameters": {
							"Databricks_Workspace_URL": {
								"value": "@pipeline().globalParameters.GL_DATABRICKS_URL",
								"type": "Expression"
							},
							"Cluster_id": {
								"value": "@pipeline().globalParameters.GL_CLUSTER_ID",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Data from Databricks DeltaLake Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Data from Databricks DeltaLake Table').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Copy data from SAP BW to ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.23:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapOpenHubSource",
									"excludeLastRequest": false
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_GSAP_BW",
									"type": "DatasetReference",
									"parameters": {
										"BW_Table_Name": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_LANDING",
									"type": "DatasetReference",
									"parameters": {
										"File_Name": {
											"value": "@item().target_file_name",
											"type": "Expression"
										},
										"Folder_Name": {
											"value": "@item().target_path",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "DATA INGESTION"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-09T12:48:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}