pipeline/P_DATAEXTRACTION_xDnA_TO_ADLS.json
{
	"name": "P_DATAEXTRACTION_xDnA_TO_ADLS",
	"properties": {
		"activities": [
			{
				"name": "Lookup Data from Databricks DeltaLake Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": {
							"value": "@concat('select * from `',pipeline().globalParameters.GL_CONFIG_CATALOG_NAME,'`.`raw-ds-gsap`.load_process_config','  where table_classification = \"T\" and project_name = \"MCPA_DCPA\" and load_type = \"HISTORICAL_LOAD\"')",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "DS_ADB_DELTALAKE",
						"type": "DatasetReference",
						"parameters": {
							"Databricks_Workspace_URL": {
								"value": "@pipeline().globalParameters.GL_DATABRICKS_URL",
								"type": "Expression"
							},
							"Cluster_id": {
								"value": "@pipeline().globalParameters.GL_CLUSTER_ID",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Data from Databricks DeltaLake Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Data from Databricks DeltaLake Table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data from xDnA to ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(pipeline().globalParameters.GL_xDnA_LANDING_PATH,item().table_name,'/INIT/')",
											"type": "Expression"
										},
										"wildcardFileName": "*.parquet",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_xDnA_ADLS_T",
									"type": "DatasetReference",
									"parameters": {
										"Storage_account": {
											"value": "@pipeline().globalParameters.GL_xDnA_STORAGE_ACCOUNT",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_LANDING_xDnA",
									"type": "DatasetReference",
									"parameters": {
										"Folder_Name": {
											"value": "@item().target_path",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "GSAP BW"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-09T12:48:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}